<section class="quotes">
  <div class="left">
    <h2>Ask for a Quote</h2>
    <form class="contact" action="" method="get">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" placeholder="Name" required>

      <label for="email">Email</label>
      <input type="email" name="email" id="email" placeholder="Email" required>

      <label for="product">Bakery Selection</label>
      <select name="product" id="product">
        <option value="bakery1">Bakery 1</option>
        <option value="bakery2">Bakery 2</option>
        <option value="bakery3">Bakery 3</option>
        <option value="bakery4">Bakery 4</option>
        <option value="bakery5">Bakery 5</option>
      </select>

      <label for="message">Message</label>
      <textarea name="message" id="message" placeholder="Message" required></textarea>

      <input type="submit" value="Send" />
    </form>
  </div>
  <div class="right">
    <picture>
      <source srcset="https://picsum.photos/id/635/640/640" media="(min-width: 1024px)">
      <img src="https://picsum.photos/id/635/480/480" alt="bakery">
    </picture>
  </div>
</section>
