<section class="hero">
  <picture>
    <source srcset="https://picsum.photos/id/1080/1200/720" media="(min-width: 1024px)">
    <source srcset="https://picsum.photos/id/1080/1024/640" media="(min-width: 720px)">
    <img src="https://picsum.photos/id/1080/380/380" alt="bakery">
  </picture>
  <h2>Delicious Bakery</h2>
  <a href="#">Order Now</a>
</section>
